.center{
    text-align: center;
}
select,button{
    width: 300px;
}
#commit{
    display: none;
    margin: 0 auto;
}
table{
    border: 0;
    margin: 0 auto;
}
th{
    background: grey;
    color: whitesmoke;
}
td{
    padding: 0 0.5em;
}
.odd_row{
    background: lightgrey;
}